{% extends 'base.html.twig' %}

{% block title %}Login {% endblock %}

{% block body %}
   <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{message}}
            </div>
        {% endfor %}
        
        <h1 class="text-center mt-4">Formulaire de connexion</h1>
            {% if error %}
                <div class="alert alert-danger mt-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

        <form action="{{path('app_security')}}" method="post">
            <div class="form-group">
                <label for="username" class="form-label mt-4">Adresse email</label>
                <input type="email" class="form-control" name ="_username" id="username" placeholder="exemple@symfony.ml" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password" class="form-label mt-4">Mot de passe</label>
                <input type="password" class="form-control" name="_password" id="password" placeholder="Password">
            </div>
        
            <button type="submit" class="btn btn-dark mt-4">Se connecter</button>
        </form>

        
   </div>

{% endblock %}
