{% extends "base.html.twig" %}

{% block title %}Inscription {% endblock %}

{% block body %}
    <div class="container">
       
        <h1 class="mt-4">Page d'inscription</h1>
        {{form(form)}}

    </div>
{% endblock %}