{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
       
        <h1>Modifier un ingrédient</h1>

        <form name="ingredient" method="post">

            <div class="form-group">
                {{form_label(form.name)}}
                {{form_widget(form.name)}}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="form-group">
                {{form_label(form.price)}}
                {{form_widget(form.price)}}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>
            {{form_row(form._token)}}
           <button type="submit" id="ingredient_submit" name="ingredient[submit]" class="btn btn-dark mt-2">Modifier</button>
        
        </form>
    </div>
{% endblock %}