{% extends 'base.html.twig' %}

{% block title %}Mes Ingrédients {% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{message}}
            </div>
        {% endfor %}

        {% if not ingredients.items is same as ([]) %}
    
        <h1 class="mt-4">Mes Ingrédients</h1>

        <a href="{{path('app_ingredient_create')}}" class="btn btn-dark">Ajouter un ingrédient</a>
         
        <div class="count mt-4 text-muted">
            <h3>
                Il y a {{ ingredients.getTotalItemCount }} ingrédient(s) au total
            </h3>
        </div>
    
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de creation</th>
                <th scope="col">Modification</th>
                <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                    <tr class="table-secondary">
                    <th scope="row">{{ingredient.id}}</th>
                    <td>{{ingredient.name}}</td>
                    <td>{{ingredient.price}} FCFA</td>
                    <td>{{ingredient.createdAt|date('d/m/Y')}}</td>
                    <td>
                        <a href="{{path('app_ingredient_edit',{id: ingredient.id})}}" class="btn btn-dark">Modifier</a>
                    </td>
                    <td>
                        <a href="{{path('app_ingredient_delete',{id: ingredient.id})}}" class="btn btn-danger">Supprimer</a>

                    </td>
                    </tr>
                        
                {% endfor %}
                
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(ingredients) }}
        </div>
        {% else %}
            <h4 class="mt-4">Il n'y a pas d'ingrédients</h4>
            <a href="{{path('app_ingredient_create')}}" class="btn btn-dark">Ajouter un ingrédient</a>

        {% endif %}
        
    </div>
{% endblock %}
