{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
       
        <h1>Creation d'un ingrédient</h1>

        {{ form_start(form) }}

            <div class="form-group">
                {{form_label(form.name)}}
                {{form_widget(form.name)}}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="form-group">
                {{form_label(form.price)}}
                {{form_widget(form.price)}}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>

            <div class="form-group">
                {{form_row(form.submit)}}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}