{% extends "base.html.twig" %}

{% block title %}Modification {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Modifier une recette</h1>
       <form name="recipe" method="post" enctype="multipart/form-data">
            <div class="form-group">
                {{form_label(form.name)}}
                {{form_widget(form.name)}}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-image">
                {{form_row(form.imageFile)}}
            </div>

             <div class="form-group">
                {{form_label(form.time)}}
                {{form_widget(form.time)}}
                <div class="form-error">
                    {{ form_errors(form.time) }}
                </div>
            </div>
             <div class="form-group">
                {{form_label(form.nbPeople)}}
                {{form_widget(form.nbPeople)}}
                <div class="form-error">
                    {{ form_errors(form.nbPeople) }}
                </div>
            </div>

             <div class="form-group">
                {{form_label(form.difficulty)}}
                {{form_widget(form.difficulty)}}
                <div class="form-error">
                    {{ form_errors(form.difficulty) }}
                </div>
            </div>
             <div class="form-group">
                {{form_label(form.description)}}
                {{form_widget(form.description)}}
                <div class="form-error">
                    {{ form_errors(form.description) }}
                </div>
            </div>
             <div class="form-group">
                {{form_label(form.price)}}
                {{form_widget(form.price)}}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>
             <div class="form-group mt-4">
                {{form_label(form.isFavorite)}}
                {{form_widget(form.isFavorite)}}
                <div class="form-error">
                    {{ form_errors(form.isFavorite) }}
                </div>
            </div>

            <div class="form-group mt-4">
                {{form_label(form.ingredients)}}
                {{form_widget(form.ingredients)}}
                <div class="form-error">
                    {{ form_errors(form.ingredients) }}
                </div>
            </div>
            {{form_row(form._token)}}
            <button type="submit" id="recipe_submit" name="recipe[submit]" class="btn btn-dark mt-2">Modifier</button>

       </form>
    </div>

{% endblock %}