{% extends 'base.html.twig' %}

{% block title %}Mes Recettes {% endblock %}


{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{message}}
            </div>
        {% endfor %}
        {% if not recipes.items is same as ([]) %}
    
        <h1 class="mt-4">Mes Recettes</h1>

        
        <a href="{{path('app_recipe_create')}}" class="btn btn-dark">Ajouter recette</a>
        <div class="count mt-4 text-muted">
            <h3>
                Il y a {{ recipes.getTotalItemCount }} recette(s) au total
            </h3>
        </div>
    
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de creation</th>
                <th scope="col">Difficulté</th>
                <th scope="col">Modification</th>
                <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr class="table-secondary">
                    <th scope="row">{{recipe.id}}</th>
                    <td>{{recipe.name}}</td>
                    <td>
                        {% if recipe.price is null %}
                            Non renseigné
                        {% else %}
                            {{recipe.price}} FCFA
                        {% endif %}
                    </td>
                    <td>{{recipe.createdAt|date('d/m/Y')}}</td>
                    <td>
                        {% if recipe.difficulty is null %}
                            Non renseigné
                        {% else %}
                            {{recipe.difficulty}}
                        {% endif %}
                        
                    </td>
                    <td>
                        <a href="{{path('app_recipe_edit',{id: recipe.id})}}" class="btn btn-dark">Modifier</a>
                    </td>
                    <td>
                        <a href="{{path('app_recipe_delete',{id: recipe.id})}}" class="btn btn-danger">Supprimer</a>

                    </td>
                    </tr>
                        
                {% endfor %}
                
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center ">
            {{ knp_pagination_render(recipes) }}
        </div>
        {% else %}
            <h4 class="mt-4">Il n'y a pas de recette</h4>
            <a href="{{path('app_recipe_create')}}" class="btn btn-dark">Ajouter recette</a>

        {% endif %}
        
    </div>
{% endblock %}

