{% extends "base.html.twig" %}

{% block title %}Recette Publique {% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mt-4 text-center mb-4">Les Recettes de la communauté</h1>
        <div class="justify-content-center d-flex flex-wrap text-center">
            {% for recipe in recipes %}
                <div class="card border-secondary mb-3 mx-3 " style="max-width: 20rem;">
                    <div class="card-header">Recette n°{{recipe.id}}</div>
                    <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{path('app_recipe_show',{id:recipe.id})}}">{{recipe.name}}</a>
                    </h4>
                    <p class="card-text">{{recipe.description|slice(0,100)~ '...'}}</p>
                    </div>
                </div>
            {% endfor %}
        
        </div>

    </div>
{% endblock %}

