{% extends "base.html.twig" %}

{% block title %} {{recipe.name}} {% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{message}}
            </div>
        {% endfor %}
        <h1 class="mt-2">{{recipe.name}}</h1>

        <div class="recipe_image">
            <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" style="max-width:100%">
        </div>
        
        <p>La moyenne de cette recette est de : {{recipe.average|number_format}} / 5</p>
        
        <div class="mb-3">
            <span class="badge bg-dark ">Crée le {{recipe.createdAt|date('d/m/Y')}}</span>
        </div>

        <div class="mt-2">
            {% if recipe.time %}
                <p>Temps en minutes: {{recipe.time}}</p>
            {% else %}
                <p>Temps non reseigné</p>
            {% endif %}
        </div>
        
        <div class="mt-2">
            {% if recipe.nbPeople %}
                <p>Pour {{recipe.nbPeople}} personnes</p>
            {% else %}
                <p>Le nombre de personnes n'est renseigné</p>
            {% endif %}
        </div>
        
        <div class="mt-2">
            {% if recipe.difficulty %}
                <p>Difficulté: {{recipe.difficulty}} / 5</p>
            {% else %}
                <p>Difficulté non renseignée</p>
            {% endif %}
        </div>
        
        <div class="mt-2">
            {% if recipe.price %}
                <p>Prix (en FCFA) : {{recipe.price}}</p>
            {% else %}
                <p>Le prix n'est pas renseigné<p/>
            {% endif %}
        </div>
        

        <div class="mt-2">
            {{recipe.description|raw}}
        </div>

        <div class="mt-2">
            <h5>Ingrédients</h5>
            {% for ingredient in recipe.ingredients %}
                <span class="badge bg-dark">
                    {{ingredient.name}}
                </span>
            {% endfor %}
        </div>
        <div class="mark">
            {{form(form)}}
        </div>
    </div>
{% endblock %}