<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Demande de {{contact.fullName}}</h1>
        <p>Email: {{contact.email}}</p>
        <p>Sujet: {{contact.subject}}</p>
        <p>Message:</p>
        <div>
            {{contact.message|raw}}
        </div>
    </div>
</body>
</html>