{% extends "base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card p-3">
            <h1 class="display-4">Bienvenu sur symrecipe!</h1>
            <p class="lead">Symrecipe est une application qui va te permettre de créer des recettes à base d'ingredients que tu auras toi-même créer.</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application</p>
        </div>
        <a class="btn btn-dark mt-3" href="{{path('app_register')}}" role="button">Inscription</a>
        
        <div class="recipes mt-4">
            <h2>Les Recettes de la communauté</h2>
                <div class="justify-content-between d-flex flex-wrap text-center mt-4">
                    {% for recipe in recipes %}
                        <div class="card border-secondary mb-3" style="max-width: 20rem;">
                            <div class="card-header">Recette n°{{recipe.id}}</div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{path('app_recipe_show',{id: recipe.id})}}">{{recipe.name}}</a>
                                </h4>
                                
                                <p class="card-text">{{recipe.description|slice(0,100)~ '...'}}</p>
                            </div>
                        </div>
                    {% endfor %}
                
                </div>
        </div>
    </div>
    



{% endblock %}
