<footer>
    <div class="text-center mt-5 p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="/"
         >Othen-co.com</a
        >
    </div>
</footer>