<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('home')}}">Symrecipe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{path('home')}}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
              <a class="nav-link active" href="{{path('app_recipe_public')}}">Recettes Publiques</a>
        </li>
        {% if app.user %}
            <li class="nav-item">
              <a class="nav-link active" href="{{path('app_ingredient')}}">Ingrédients</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{path('app_recipe')}}">Recettes</a>
            </li>
        {% endif %}
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto">
          {% if app.user %}
            <li class="nav-item dropdown" style="margin-right:5rem;">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{app.user.fullName}}</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{path('app_user',{id:app.user.id})}}">Modifier mes informations</a>
                  <a class="dropdown-item" href="{{path('app_user_edit_password',{id:app.user.id})}}">Modifier mot de passe</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
              </div>
            </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link active" href="{{path('app_register')}}">Inscription</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" href="{{path('app_security')}}">Se connecter</a>
              </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </div>
</nav>