{% extends 'base.html.twig' %}

{% block title %}Edition de Profil {% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{message}}
            </div>
        {% endfor %}
        <h1 class="mt-4">Formulaire de modification</h1>
        {{form(form)}}
    </div>
{% endblock %}
